#wrapper {
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin-top: 0 !important;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

input {
  width: 100%;
}

img {
  max-width: 100%;
}
