#header {
  text-align: center;
  width: 100%;
  transition: background 0.2s linear;
  position: relative;
  z-index: 11;
  background: white;

  @include media(">=tablet") {
    background: transparent;
  }
}

.header-content {
  @extend %d-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative;

  @include media(">=tablet") {
    position: static;
    padding: 35px 0;
  }
}

.nav-search-bar {
  width: 95%;
  font-size: 1.5rem;
  line-height: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, calc(-100% - 20px));
  z-index: -2;
  // opacity: 0;
  // visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;

  @include media(">=tablet") {
    transform: translate(0, 0);
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: -999px;
    right: -999px;
    top: 0;
    bottom: -10px;
    background: white;
  }

  @include media(">=tablet") {
    max-width: 300px;
    font-size: 1.9rem;
    position: static;

    &:before {
      content: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 5px 1px rgba(109, 109, 109, 0.6), 0 0 0 30px#f1f1f1 inset !important;
  }

  input {
    padding: 10px 50px 10px 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(109, 109, 109, 0.6);
    transition: background 0.2s linear;

    &:focus {
      outline: none;
      background: rgb(241, 241, 241);
    }
  }
}

.logo {
  width: 100px;

  @include media(">=tablet") {
    width: 120px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;
    background: white;
    z-index: -1;

    @include media(">=tablet") {
      content: none;
    }
  }
}

.search-form {
  position: relative;

  .button-group {
    position: absolute;
    top: calc(50% + 1px);
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }
  }
}

.nav-active {
  .burger-menu {
    height: 26px;
    .burger-span {
      &:first-child,
      &:last-child {
        top: 50%;
      }

      &:first-child {
        transform: translateY(-50%) rotateZ(45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotateZ(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .nav-search-bar {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  .logo {
    &:before {
      bottom: 11px;
    }
  }
}

.burger-menu {
  position: relative;
  z-index: 15;
  @include size(21px, 30px);
  transition: height 0.2s linear;

  @include media(">=tablet") {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  .burger-span {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: top 0.2s linear, opacity 0.2s linear, transform 0.2s linear,
      visibility 0.2s linear;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:last-child {
      top: 16px;
    }
  }
}
